* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter, sans-serif;
}

.app {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}

.navbar {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 70px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-circle {
  width: 55px;
  height: 55px;

  border-radius: 50%;
  border: 1px solid #f5b942;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #f5b942;
  font-size: 22px;
}

.logo h2 {
  color: white;
}

.logo p {
  color: #d0d0d0;
  font-size: 14px;
}

.theme-btn {
  width: 48px;
  height: 48px;

  border: none;
  border-radius: 50%;

  cursor: pointer;
  font-size: 18px;
}

.content {
  position: relative;
  z-index: 2;

  width: 100%;
  min-height: calc(100vh - 100px);

  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  align-items: center;

  padding: 40px 70px;
  gap: 50px;
}

.hero {
  color: white;
  max-width: 650px;
}

.hero h1 {
  font-size: 5rem;
  line-height: 1.05;
  margin-bottom: 20px;
}

.hero span {
  color: #f5b942;
}

.hero p {
  font-size: 1.3rem;
  color: #e0e0e0;
  line-height: 1.6;
  margin-bottom: 50px;
}

.xp-card {
  display: flex;
  align-items: center;
  gap: 15px;

  width: 320px;

  background: rgba(255, 255, 255, 0.08);

  padding: 18px;
  border-radius: 16px;

  backdrop-filter: blur(10px);
}

.avatar {
  font-size: 28px;
}

.xp-info {
  flex: 1;
}

.xp-bar {
  width: 100%;
  height: 8px;

  background: rgba(255, 255, 255, 0.15);

  border-radius: 20px;
  margin: 8px 0;
}

.xp-fill {
  width: 0%;
  height: 100%;

  background: #f5b942;
  border-radius: 20px;
}

.login-section {
  display: flex;
  justify-content: center;
}

.login-card {
  width: 100%;
  max-width: 500px;

  padding: 40px;

  border-radius: 24px;

  background: rgba(12, 22, 55, 0.75);
  backdrop-filter: blur(16px);

  color: white;
}

.login-card h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.login-card p {
  color: #d7d7d7;
  margin-bottom: 25px;
}

.login-card input {
  width: 100%;

  padding: 16px;
  margin-bottom: 18px;

  border: 1px solid rgba(255,255,255,.15);
  border-radius: 12px;

  background: rgba(255,255,255,.06);

  color: white;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 25px;
}

.options a {
  color: #f5b942;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 16px;

  border: none;
  border-radius: 12px;

  background: #f5b942;
  color: black;

  font-size: 18px;
  font-weight: 700;

  cursor: pointer;
}

.divider {
  text-align: center;
  margin: 25px 0;
  color: #aaa;
}

.google-btn {
  width: 100%;
  padding: 16px;

  border-radius: 12px;
  border: 1px solid rgba(255,255,255,.2);

  background: transparent;
  color: white;

  cursor: pointer;
}

.signup {
  text-align: center;
  margin-top: 25px;
}

.signup a {
  color: #f5b942;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .content {
    grid-template-columns: 1fr;
  }

  .hero {
    text-align: center;
    max-width: 100%;
  }

  .xp-card {
    margin: auto;
  }

  .hero h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 600px) {
  .navbar,
  .content {
    padding: 20px;
  }
  .hero h1 {
    font-size: 2.8rem;
  }
  .login-card {
    padding: 25px;
  }
}